.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  padding: 10px;
}

.infinite-scroll-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
